<link rel="stylesheet" href="/css/error404.css">
<h1>500</h1>
<p>Oops! Something is wrong.</p>
<a class="button" type="button" onclick="javascript:history.back()"><i class="icon-home"></i> Go back in initial page, is better.</a>